$fontInter: 'Inter';
$fontRoboto: 'Roboto';
$fontBold: 700;
$fontSemi: 600;
$fontMid: 400;
$fontLight: 300;
$transition: all .3s ease-in-out;

// colors
$clrdefult : #fff;
$clrMain : #51b8f2;  
$clrhero : #60bdf2; 
$clrBlack: #000000;
$clrPrimary: #373737;

